#accordion{
z-index: 999 !important;
padding-bottom: 40px;
.accordion-item{
  padding: 5px 0;
}
button{
  a {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .fa-caret-down{
      padding-left: 24px;
      font-size: 15px;
    }
  }
  a:link {
    color: $brown  !important;
  }
  
  /* visited link */
  a:visited {
    color: $brown !important;
  }
  
  /* mouse over link */
  a:hover {
    color: $blue!important;
  }
  
  /* selected link */
  a:active {
    color:$brown !important;
  }
}

}
.btn-brown {
  color: $brown !important;
  font-family: $font-sans-serif !important;
  text-transform: uppercase !important;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
}

.panel-accordion{
  p {
    padding: 20px 0 !important;
    font-family: $font-serif !important;
    font-size: 18px !important;
    color: $blue !important;
  font-family: $font-sans-serif !important;
  }
}