.accordion {
  z-index: -50;
  padding: 24px 0;
  display: flex;
  align-items: center;
  font-family: $font-sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: $brown;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  transition: all ease-in-out 2s;

  :hover {
    .static {
      opacity: 0;
    }
  }
  p{
    font-size: 16px;
    color: $brown;
    padding-right: 8px;
  }
}

.panel {
  position: relative;
  display: none;
  overflow: hidden;
  p {
    font-family: $font-serif;
    font-weight: 500;
    color: $brown-darken;
    font-size: 16px !important;
    transition: 0.4s;
  }
}
