.container-carrousel {
  width: 90%;
  height: 100vh;
  float: right;
  .carrousel {
    position: relative;
    max-height: 100vh !important;
  }
}

.glide__arrows{
  .glide__arrow {
    border:none;
    box-shadow:none;
  }
}

.glide__slide{
  img{
    transition: all ease-in-out 1s;
    background: $cream;
    //transform: scale(0.9);
    // transition: all ease-in-out 0.5s;
    opacity: 0;
    //filter: grayscale(100%);
  }
  p{
    transition: all ease-in-out 2s;
    opacity: 0;
    font-size: 18px !important;
  }
  h1, .link-map, .accordion {
    transition: all ease-in-out 2s;
    opacity: 0;
  }

 

}

.glide__slide.glide__slide--active{
  img{
    //transform: scale(1);
    //filter: grayscale(0%);
    opacity: 1;
  }
  p, h1, .link-map, .accordion {
    opacity: 1;
  }
  
}