.container-carrousel {
  width: 100%;
  height: 100%;

  .carrousel {
    position: relative;
    overflow: hidden;
  }
}
.section{
  padding: 0 5%;
  img {
    width: auto;
    height: 60vh;
    object-fit: cover;
  }
  p{
    padding: 5% 3%;
  }
}

.glide__arrows{
  .glide__arrow {
    border:none;
    box-shadow:none;
  }
}

.glide__slide{
  img{
    transition: all ease-in-out 1s;
    background: $cream;
    //transform: scale(0.9);
    //transition: all ease-in-out 0.5s;
    opacity: 0;
    //filter: grayscale(100%);
  }
  p{
    transition: all ease-in-out 2s;
    opacity: 0;
  }
 

}
.glide__slide.glide__slide--active{
  img{
    //transform: scale(1);
    //filter: grayscale(0%);
    opacity: 1;
  }
  p{
    opacity: 1;
  }
  
}