/* slider */
.slider {
  border-radius: 5px;
  box-shadow: 5px 5px hsl(0, 0%, 76%);
  position: relative;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      position: relative;
      display: none;
      height: 350px;
      img {
        height: 50vh;
        width: auto;
        object-fit: cover;
      }
      span {
        position: absolute;
        bottom: 0;
        background: hsl(0, 1%, 72%, 0.1);
        left: 0;
        width: 100%;
        padding: 5px;
        text-align: center;
        color: #fff;
      }
    }
  }
  .buttons {
    position: absolute;
    top: 40%;
    width: 100%;
    .next {
      font-size: 2rem;
      right: 0;
      position: absolute;
      cursor: pointer;
      width: 50px;
      text-align: center;
      &:hover {
        background: hsl(0, 0%, 25%);
        color: hsl(0, 0%, 93%);
      }
    }
    .prev {
      font-size: 2rem;
      left: 0;
      position: absolute;
      cursor: pointer;
      width: 50px;
      text-align: center;
      &:hover {
        background: hsl(0, 0%, 25%);
        color: hsl(0, 0%, 93%);
      }
    }
  }
}

/* slider animation */
.slider ul li {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
