.home {
  background-color: $blue-darken;
  // overflow-y: hidden;
  p,
  h1 {
    color: $cream;
  }
  .outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
    .wrapper {
      display: flex;
      flex-direction: row;
      width: 1200vw;
      transform: rotate(90deg) translateY(-100vh);
      transform-origin: top left;
      
    }
  }
}

.slide {
  width: 100vw;
  height: 100vh;
}

.vertical-line {
  z-index: 30;
  position: absolute;
  border-left: 1px solid $brown;
  height: 200px;
}

.waves-container {
  z-index: 0;
  display: flex;
  transform: rotate(90deg) translateX(40vh);
  .wave {
    position: relative;
    .wave-box {
      max-width: 250px;
      height: auto;
      position: absolute;
      img {
        opacity: 0.5;
        position: relative;
        z-index: -10;
        filter: grayscale(100%);
      }
      p {
        position: absolute;
        z-index: 10;
        transform: rotate(270deg);
        font-family: $font-sans-serif;
        color: $brown;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  .wave:hover {
    // cursor: url("../images/cursor-scrolling-home.svg"), auto;
    p {
      color: white;
      transition: 1s;
    }
    img {
      filter: none;
      transition: 1s;
      opacity: 1;
    }
    .vertical-line {
      border-left: 1px solid white;
      transition: 1s;
    }
  }

  .wave:nth-child(1) {
    p {
      left: 85%;
      bottom: 115%;
    }
    .vertical-line {
      left: 100%;
      top: 0;
    }
  }
  .wave:nth-child(2) {
    left: 395px;
    bottom: 270px;
    p {
      left: 90%;
      top: 115%;
    }
    .vertical-line {
      left: 105%;
      bottom: 0;
    }
  }
  .wave:nth-child(3) {
    left: 790px;
    p {
      left: 88%;
      bottom: 123%;
    }
    .vertical-line {
      left: 110%;
      top: 0;
    }
  }
  .wave:nth-child(4) {
    left: 1185px;
    bottom: 270px;
    p {
      left: 84%;
      top: 123%;
    }
    .vertical-line {
      left: 105%;
      bottom: 0;
    }
  }
  .wave:nth-child(5) {
    left: 1580px;
    p {
      left: 88%;
      bottom: 123%;
    }
    .vertical-line {
      left: 110%;
      top: 0;
    }
  }
  .wave:nth-child(6) {
    left: 1980px;
    bottom: 270px;

    p {
      left: 84%;
      top: 123%;
    }
    .vertical-line {
      left: 105%;
      bottom: 0;
    }
    img {
      margin-right: 5vh;
    }
  }
}

.text-intro {
  transform: rotate(90deg);
  max-width: 70%;
  padding: 12% 0 0 0;
 
  h1 {
    font-size: 5vw;
    padding-bottom: 16px;
    font-weight: lighter;
  }
  p{
    padding-bottom: 24px;
  }
}


::-webkit-scrollbar {
  display: none;
}