.home {
  background-color: $blue-darken;
  header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo-home {
      margin-top: 2.5%;
    }
  }
  p,
  h1 {
    color: $cream;
  }
  main {
    top: 50%;
    transform: translateY(50%);
  }
}

.horizontal-scroll {
  display: flex;
  align-items: center;
  .intro {
    top: 50%;
    transform: translateY(50%);
    padding: 0 5%;
    min-width: 30%;
    h1 {
      padding-bottom: 16px;
    }
  }
  .waves-container {
    display: flex;
    .wave {
      position: relative;

      img {
        opacity: 0.5;
        position: relative;
        z-index: -10;
        filter: grayscale(100%);
      }
      p {
        position: absolute;
        z-index: 10;
        transform: rotate(270deg);
        font-family: $font-sans-serif;
        color: $brown;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

    .wave:hover {
      p {
        color: white;
        transition: 1s;
      }
      img {
        filter: none;
        transition: 1s;
        opacity: 1;
      }
      .vertical-line {
        border-left: 1px solid white;
        transition: 1s;
      }
    }

    .wave:nth-child(1) {
    
      p {
        left: 215px;
        top: 190px;
        z-index: 20;
      }
      .vertical-line {
        left: 250px;
        bottom: 50px;
      }

  }
}
}

.vertical-line {
  z-index: 30;
  position: absolute;
  border-left: 1px solid $brown;
  height: 200px;
}
