html {
  scroll-behavior: smooth;
}

.inside-pages {
  overflow-x:hidden;
  background-color: $cream;
  background-image: url("../images/background-waves.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  
}

main {
  top: 50%;
  transform: translateY(50%);
  .intro {    
    padding: 0 5%;
    width: 30%;
    h1 {
      padding-bottom: 16px;
    }
  }
}

i{
  padding-right: 8px;
}
a{
  color: $brown;
  &:hover{
    color: $blue;

  }
}
.btn {
  cursor: pointer;
  display: inline;
  padding: 12px 40px;
  color: $cream;
  background-color: $brown;
  font-family: $font-sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  border-radius:40px;
  font-size: 16px;
  letter-spacing: 1px;

  &:hover{
    color: $cream;
    text-decoration: none;
    background-color:$blue;
    transition: 0.5s;
  }
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .text-container {
    padding: 40px;
    p {
      font-size: 18px;
    }
    h1{
      padding-bottom: 24px;
    }
  }

  .image-container {
    position: relative;
    img {
      width: auto;
      max-height: 70vh;
      object-fit: cover;
    }
    .link-map {
      a {
        color: $brown;
        font-weight: 500;
        font-family: $font-sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
      &:hover{
        color: $blue;
        i{
          color: $blue;
        }
      }
      }
    }
  }
}


.title {
  &__left {
    text-align: left;
    padding: 5vh 0 24px 5vw;
    font-family: $font-serif;
    color: $blue;
  }
  &__center {
    font-family: $font-serif;
    color: $blue;
    text-align: center;
    padding: 5vh 0 24px 0;
  }
}

.title-slide {
  font-family: $font-sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 600;
}

