html {
  scroll-behavior: smooth;
}

main {
  z-index: 100;
  // padding: 0 5% 0 0;
  .intro {
    width: 50%;
    padding: 0 10%;
    h1 {
      font-size: 5vw;
      padding-bottom: 16px;
      font-weight: lighter;
    }
  }
  .intro_full-width {
    width: 100%;
    padding: 10% 5% 0 5%;
    h1 {
      font-size: 5vw;
      padding-bottom: 16px;
      font-weight: lighter;
    }
    p {
      width: 60vw;
    }
  }
}

.home {
  header {
    .icon,
    .logo-inside-pages {
      display: none;
    }
  }
}

.inside-pages {
  width: 100vw;
  // background-color: $blue-light;
  background-color: $blue-darken !important;
  // background-image: url("../images/background-waves.svg");
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-attachment: fixed;
  .logo-inside-pages {
    display: inline-flex;
    width: 88px;
    height: auto;
  }
  .ruta-pages {
    width: 100%;
    display: flex;
    justify-content: center;
    .sidenav {
      z-index: 100;
      display: flex;
      justify-content: center;
      //valign-items: center;
      margin-top: 20vw;
      width: 15%;
      // height: calc(100vh -10%) !important;
      // position: fixed;
      background-color: transparent;
      // transform: translateY(50%);
      .menu-ruta {
        small {
          color: $brown;
          font-family: $font-sans-serif;
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 500;
          padding-left: 8px;
        }
        a:hover,
        .selected {
          small {
            color: $blue;
            transition: 0.2s;
          }
          .little-wave {
            svg {
              circle {
                stroke: $blue;
                transition: 0.2s;
              }
            }
          }
        }
        .little-wave {
          display: flex;
          align-items: center;
        }
        .ruta:nth-child(2) {
          transform: translate(26px, -16px);
        }
        .ruta:nth-child(3) {
          transform: translate(0, -32px);
        }
        .ruta:nth-child(4) {
          transform: translate(26px, -48px);
        }
        .ruta:nth-child(5) {
          transform: translate(0, -64px);
        }
        .ruta:nth-child(6) {
          transform: translate(26px, -80px);
        }
      }
    }
 
  }
  
  .icon,
  .original {
    display: none;
  }
}


footer {
  small {
    color: $blue !important;
  }
}

i {
  padding-right: 8px;
}

a {
  color: $brown;
  &:hover {
    color: $blue !important;
    text-decoration: none !important;
  }
}
.text-link {
  color: $brown !important;
  &:hover {
    text-decoration: none !important;
    color: $blue !important;
  }
}

.cta {
  cursor: pointer;
  display: inline;
  padding: 12px 40px;
  color: $cream;
  background-color: $brown;
  font-family: $font-sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 40px;
  font-size: 16px;
  letter-spacing: 1px;

  &:hover {
    color: $cream !important;
    text-decoration: none;
    background-color: $blue;
    transition: 0.5s;
  }
}

.title {
  &__left {
    text-align: left;
    padding: 5vh 0 24px 5vw;
    font-family: $font-serif;
    color: $blue;
  }
  &__center {
    font-family: $font-serif;
    color: $blue;
    text-align: center;
    padding: 5vh 0 24px 0;
  }
}

.title-slide {
  font-family: $font-sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 600;
}

.split-screen {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  align-items: fle;
  .split {
    width: 50%;
    height: 100vh;
    img,
    video, iframe {
      position: absolute;
      z-index: -30;
      width: 50vw;
      height: 100%;
      object-fit: cover;
    }
    /* iframe {
      position: absolute;
      z-index: -30;
      height: 100vh;
      width: auto;
      object-fit: cover;
    } */
  }
  .left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    .text-container {
      z-index: 50;
      margin:  20% 30% 10% 10%;
      h1,
      h2,
      p {
        color: $cream !important;
      }
      h1 {
        font-weight: lighter;
      }
      a {
        color: $brown;
        &:hover {
          color: white !important;
        }
      }
    }
    .bg-img-dark {
      position: absolute;
      z-index: 30;
      width: 50vw;
      height: 100%;
      background-color: $blue-darken;
      opacity: 0.6;
    }
  }
  .right-side {
    height: 100%;
    display: flex;
    align-items: flex-end;
    z-index: 100;
    opacity: 1;

    .text-container {
      margin-top: 30vh;
      height: 70vh;
      overflow-y: scroll !important;
      background-color: $cream;
      padding: 8%;
      
      h1,
      p {
        color: $blue;
        padding-bottom: 16px;
      }

    }
    .translate-in-y {
      transform: translateX(-80px);
    }
    // altura para las compos simples
    .simple, .cover {
      min-height: 70vh;
    }
    .tabs-container{
      height: 70vh;
      margin-top:30vh;
    }
  }
}
