html {
  scroll-behavior: smooth;
}

body {
  background-color: $cream;
}

main {
  top: 50%;
  transform: translateY(50%);
}

i{
  padding-right: 8px;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .text-container {
    width: 40%;
    padding-top: 40px;
    padding-left: 40px;
    p {
      font-size: 18px;
    }
    h1{
      padding-bottom: 24px;
    }
  }

  .image-container {
    position: relative;
    img {
      width: auto;
      height: 60vh;
      object-fit: cover;
    }
    .link-map {
      a {
        color: $brown;
        font-weight: 500;
        font-family: $font-sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
      &:hover{
        color: $blue;
        i{
          color: $blue;
        }
      }
      }
    }
  }
}

.menu-mobile {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $blue;
}

.title {
  &__left {
    text-align: left;
    padding: 5vh 0 24px 5vw;
    font-family: $font-serif;
    color: $blue;
  }
  &__center {
    font-family: $font-serif;
    color: $blue;
    text-align: center;
    padding: 5vh 0 24px 0;
  }
}

.title-slide {
  font-family: $font-sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 600;
}

