header {
  width: 100vw;
  // padding-bottom: 40px;
  .fixed {
    position: fixed;
    width: 100vw;
  }
  .topnav {
    overflow: hidden;
    .icon {
      display: none;
    }
    a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      &:hover {
        background-color: #ddd;
        color: black;
      }
      a,
      a.active {
        background-color: #04aa6d;
        color: white;
      }
    }
  }

  nav {
    z-index: 999 !important;
    padding: 32px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .menu-items {
      opacity: 1;
      display: flex;
      justify-content: space-between;
      font-family: $font-sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      // margin: 0 56px 0 0;
      // PERSONALIZA FUNCIONA SIN ESTE MARGIN EL RESTO NO
      li {
        padding: 16px;

        a {
          font-size: 16px;
          color: $brown;
          letter-spacing: 1px;
          i {
            padding: 0 0 0 8px;
            color: $brown;
          }
          &:hover {
            transition: 0.2s;
            color: $blue;
            border-bottom: none;
          }
        }

        .active {
          color: $blue;
          border-bottom: 1px solid $blue;
        }
        .active-n2 {
          color: $blue;
        }
      }
      .dropdown:hover {
        .dropdown-content {
          display: block;
        }
      }

      .dark-mode {
        .dropdown-content {
          background-color: $blue-darken;
        }
      }
      .dropdown-content {
        z-index: 800;
        display: none;
        position: absolute;
        background-color: #e5eef5;
        padding: 16px 24px;
        transform: translateX(-24px);
        a {
          display: block;
          font-size: 16px;
          padding-top: 8px;
          text-transform: none;
          letter-spacing: 0;
        }
      }
    }
    .btn_menu {
      display: none;
      position: fixed;
      right: 0;
      top: 0;
      a {
        i {
          font-size: 24px;
          padding: 44px;
          color: $brown;
        }
        &:hover {
          i {
            color: $blue;
            transition: 0.5s;
          }
        }
      }
      #close {
        position: absolute;
        display: none;
      }
    }
  }
}

footer {
  z-index: 100;
  padding: 20px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  small {
    color: $blue !important;
    font-family: $font-sans-serif;
    font-size: 14px !important;
  }
  .cream {
    color: $cream !important;
  }
  a {
    i {
      color: $brown;
      //margin-right: 40px;
      // he tenido que añadir este margin y no sé muy bien xq
      font-size: 32px;
    }
    &:hover {
      i {
        transition: 0.2s;
        color: $blue;
      }
    }
  }
}

// bootstrap fixings
.navbar {
  opacity: 1;
  display: flex;
  justify-content: space-between;
  font-family: $font-sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  // margin: 0 56px 0 0;
  // PERSONALIZA FUNCIONA SIN ESTE MARGIN EL RESTO NO
  li {
    padding: 8px;

    a {
      font-size: 16px;
      color: $brown;
      letter-spacing: 1px;
      i {
        padding: 0 0 0 8px;
        color: $brown;
      }
      &:hover {
        transition: 0.2s;
        color: $blue;
        border-bottom: none;
      }
    }

    .active {
      color: $blue;
      border-bottom: 1px solid $blue;
    }
    .active-n2 {
      color: $blue;
    }
  }
  .dropdown-item {
    padding: 0.5em 1em;
  }
  .dropdown-menu {
    margin-top: -5px !important;
    // padding-bottom: 0 !important;
    border: none !important;
    z-index: 9999 !important;
  }

  button{
    padding: 0 !important;

    .navbar-toggler{
      color: $brown !important;
      border: none !important;
    }
    i{
      color: $brown !important;
      //padding: 0 !important;
    }
  }
 

}


.home{
  .dropdown-menu {
    background-color: $blue-darken !important;
  }
}


.inside-pages{
  .dropdown-menu {
    background-color: $blue-light !important;
  }
}