header {
  z-index: 100;
  width: 100vw;
  .fixed {
    position: fixed;
  }
  nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px;
    .menu-items {
      opacity: 1;
      display: flex;
      justify-content: space-between;
      font-family: $font-sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      margin: 16px 40px 0 0;
      li {
        a {
          padding: 16px;
          color: $brown;
          letter-spacing: 1px;
          i {
            padding: 0 0 0 8px;
            color: $brown;
          }
          &:hover {
            transition: 0.2s;
            color: $blue;
            border-bottom: none;
          }
        }

        .active {
          color: $blue;
          border-bottom: 1px solid $blue;
        }
      }
      .dropdown:hover {
        .dropdown-content {
          display: block;
        }
      }

      .dark-mode {
        .dropdown-content{
          background-color: $blue-darken;
        }
      }
      .dropdown-content {
        z-index: 200;
        display: none;
        position: absolute;
        background-color: $cream;
        padding: 16px 8px;
        a {
          display: block;
          font-size: 14px;
          padding-top: 16px;
        }
      }
    }
  }
  .btn_menu {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    a {
      i {
        font-size: 24px;
        padding: 44px;
        color: $brown;
      }
      &:hover {
        i {
          color: $blue;
          transition: 0.5s;
        }
      }
    }
  }
}
