header {
  width: 100vw;
}
.header-container {
  padding: 20px;
  text-align: right;
  a {
    padding: 10px;
  }
}

.menu {
  width: 100%;
  list-style: none;
  display: flex;
  li {
    cursor: pointer;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $blue;
    border-right: 1px solid $blue;
  }
  a {
    font-family: $font-sans-serif;
    font-size: 14px;
    color: $blue;
    line-height: 44px;
    height: 44px;
    width: 100%;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    &:hover {
      color: $cream;
      background-color: $blue-darken;
      letter-spacing: 1px;
      transition: ease 1s;
      color: $cream;
      background-color: $blue;
    }
  }
  .menu-selected {
    color: $cream;
    background-color: $blue-darken;
    pointer-events: none;
    letter-spacing: 1px;
  }
}

.ruta {
position: absolute;
top:24px;
left: 50%;
transform: translateX(-50%);
  li {
    position: relative;
    display: inline;
    align-items: start;
    text-align: right;

    .little-wave {
      position: absolute;
      display: flex;
      align-items: center;
    }
    a {
      transform: rotate(180deg);
      writing-mode: vertical-lr;
      font-family: $font-sans-serif;
      font-size: 16px;
      line-height: 0;
      text-transform: uppercase;

      p {
        color: $brown;
        padding-bottom: 8px;
      }
    }
  }
  .vinebre {
    left: 0;
    bottom: 0;
  }
  .tortosa {
    right: -28px;
    top: -70px;
  }
  .montserrat {
    right: -8px;
    top: -116px;
  }
  .tarragona {
    right:12px;
    top: -95px;
  }
  .barcelona {
    right: 32px;
    top: -108px;
  }
  .castellon {
    right: 52px;
    top: -84px;
  }
}

/* HAMBURGUESA */
/* estilo */

input#abrir-cerrar {
  visibility: hidden;
  position: absolute;
  top: -9999px;
}

.toggle-button {
  display: block;
  width: 88px;
  height: 88px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  border-left: 1px solid $blue;
}

/* transición suave */

.toggle-button:before,
.toggle-button:after {
  position: absolute;
  display: block;
  content: " ";
  width: calc(100% / 2);
  box-sizing: border-box;
  left: calc(100% / 3.5);
  transition: all 0.2s ease-out;
}

.toggle-button:before {
  top: calc(100% / 3);
  height: calc(100% / 6);
  border-top: 2px solid $blue;
  border-bottom: 2px solid $blue;
  background-color: transparent;
}

.toggle-button:after {
  height: 2px;
  background-color: $blue;
  bottom: calc(100% / 3);
}

/* comportamiento del botón */

input#abrir-cerrar:checked + .toggle-button:before,
input#abrir-cerrar:checked + .toggle-button:after {
  top: calc(100% / 2);
  height: 2px;
  border-bottom: 0;
}

input#abrir-cerrar:checked + .toggle-button:before {
  transform: rotate(45deg);
}

input#abrir-cerrar:checked + .toggle-button:after {
  transform: rotate(-45deg);
}

/* posicionar, mostrar y ocultar */

.abrir,
.cerrar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-indent: -9999px;
}

.abrir {
  display: block;
}

.cerrar {
  display: none;
}

input#abrir-cerrar:checked + .toggle-button .abrir {
  display: none;
}

input#abrir-cerrar:checked + .toggle-button .cerrar {
  display: block;
}
