/* XL DESKTOP */
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 72px;
    // la tipografía en h1 es responsive pero a partir
    // de un ancho concreto que ya no crezca más...
  }
}

/* M-S DESKTOP */
@media screen and (max-width: 992px) {
  .nav-nav-link {
    float: right !important;
  }
  .home {
    overflow-y: scroll !important;
    overflow-x: hidden !important;

    header {
    
      nav {
        .original {
          display: none !important;
        }
        .icon {
          display: inline-flex !important;
        }
        .logo-inside-pages {
          display: none;
        }
        .menu-items {
          display: none;
        }
        .btn_menu {
          display: inline-flex;
          cursor: pointer;
        }
      }
    }

    main {
      position: absolute;
      top: 12vh;
      z-index: 0 !important;
      transform: none !important;
      padding: 0;
      .intro {
        width: 90% !important;
        // padding-top: 72px !important;
        margin: 32px;
      }
    }
    
  }

  .inside-pages {
    // overflow-y: scroll !important;
    overflow-x: hidden !important;
    header {
      .icon,
      .original {
        display: none !important;
      }
      .logo-inside-pages {
        display: inline-flex !important;
      }
      .menu-items {
        display: none;
      }
      .btn_menu {
        display: inline-flex;
        cursor: pointer;
      }
      .navbar {
        margin: 0 !important;
        ul{
          padding: 32px;
          width: auto;
          float: right;
          background-color: $blue-darken !important;
        }
        
      }
      
    }
   
    .tabs {
      flex-direction: column;
      .nav-tabs,
      .tab-content {
        width: 100% !important;
        padding-right: 0 !important;
      }
      #myTab{
        margin-bottom: 8px;
        
      }
    }

    main {
      .floatting-element{
        right: 10%;
        top: 65% !important;
      }
      
      .split-screen {
        flex-direction: column !important;
        overflow-y: scroll;
        .split {
          width: 100%;
          height: auto;
          img,
          video{
            width: 100vw;
            height: 100%;
          }
        }
        .left-side {
          height: 40vh;
          .text-container {
            z-index: 50;
            width: 90%;
            margin-top: 20%;
          }
          .bg-img-dark {
            position: absolute;
            z-index: 30;
            width: 100vw;
            height: 100%;
            background-color: $blue-darken;
            opacity: 0.6;
          }
          .pic {
            height: 100%;
            img {
              float: right;
              z-index: -30;
              width: auto;
              height: 100vh;
              object-fit: cover;
            }
          }
   
        }
        .right-side {
          display: flex;
          align-items: flex-end;
          z-index: 100;
          opacity: 1;
          .text-container {
           width: 80%;
          }
          .translate-in-y {
            transform: translateX(0);
          }
          // altura para las compos simples
          .simple{
            width: 90%;
            min-height: 70vh;;
          }
        }

      }

    }
   
  }

  .outer-wrapper{
    overflow-y: hidden !important;
    overflow-x: scroll !important;
    height: 100%;
    width: 100%;
    // transform: rotate(-90deg) translateX(-100vh);
    .wraper {
      padding-top: 0 !important;
      position: relative;
      flex-direction: column;
      height: 100% !important;
      width: 100%;
      .text-intro {
        transform: rotate(90deg);
        width: 90vh !important;
        max-width: none;
       
        h1 {
          font-size: 5vw;
          padding-bottom: 16px;
          font-weight: lighter;
        }
        p{
          padding-bottom: 24px;
        }
      }
  
      .routes {
        margin-top: 56px;
        position: relative;
        transform: scale(0.9) rotate(90deg);
        display: flex;
        align-items: center;
        .waves-container {
          position: absolute;
          .wave:nth-child(1) {
            p {
              left: 44%;
              bottom: 115%;
            }
            .vertical-line {
              left: 50%;
              top: 0;
            }
          }
          .wave:nth-child(2) {
            p {
              left: 43%;
              top: 115%;
            }
            .vertical-line {
              left: 50%;
              bottom: 0;
            }
          }
          .wave:nth-child(3) {
            p {
              left: 39%;
              bottom: 125%;
            }
            .vertical-line {
              left: 50%;
              top: 0;
            }
          }
          .wave:nth-child(4) {
            p {
              left: 39%;
              top: 125%;
            }
            .vertical-line {
              left: 50%;
              bottom: 0;
            }
          }
          .wave:nth-child(5) {
            p {
              left: 40%;
              bottom: 122%;
            }
            .vertical-line {
              left: 50%;
              top: 0;
            }
          }
          .wave:nth-child(6) {
            p {
              left: 41%;
              top: 118%;
            }
            .vertical-line {
              left: 50%;
              bottom: 0;
            }
          }
        }
      }
    }
  }

}

/* TABLET */
@media screen and (max-width: 600px) {
  .topnav {
    .menu {
      a {
        display: none;
      }
    }
    a {
      .icon {
        float: right;
        display: block;
      }
    }
    .responsive {
      position: relative;
      .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      a {
        float: none;
        display: block;
        text-align: left;
      }
    }
  }
 
  #myTab{
    a {
      font-size: 15px !important;
    }
    .nav-item{
      width: 100% !important;
    }
  } 
 

}

/* MOBILE */
@media screen and (max-width: 480px) {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 32px !important ;
    padding-top: 17vh !important;
  }

  /* main {
    margin: 0 20px;
  } */

  .main-title {
    text-align: center;
    padding: 20px 0;
  }

  .routes {
    transform: scale(0.5) rotate(90deg) !important;
    p {
      transform: scale(1.8) rotate(270deg) !important;
    }
    .vertical-line {
      transform: scale(0.7);
    }
  }
  .floatting-element {
    right: 5%;
    top: 85% !important;
    .rotation-element{
      svg{
        transform: scale(0.2) !important;
        fill: currentColor;
        color: $brown;
      }
    }
  }
  
  
 
}
