/* TABLET + MOBILE */
.hide,
.icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .home,
  .inside-pages {
    overflow-y: scroll !important;
    overflow-x: hidden !important;

    header {
      .original {
        display: none !important;
      }
      .icon {
        display: inline-flex;
      }
      .responsive {
        overflow-y: hidden !important;
        width: 100vw !important;
        height: 100vh !important;
        background-color: $blue-darken;
        flex-direction: column;
        nav {
          flex-direction: column;
          .menu-items {
            flex-direction: column;
            top: 50%;
            transform: translateY(50%);
          }
        }
      }

      .menu-items {
        display: none;
      }
      .btn_menu {
        display: inline-flex;
        cursor: pointer;
      }
    }

    main {
      z-index: 0 !important;
      transform: none !important;
      .intro {
        width: 90%;
        padding-top: 72px;
        margin: auto;
      }
    }

  }

  .horizontal-scroll {
    position: relative;
    display: flex;
    flex-direction: column;
    .intro {
      width: 80%;
      margin-top: 64px;
      h1 {
        padding-bottom: 16px;
      }
    }

    .routes {
      margin-top: 56px;
      position: relative;
      transform: scale(0.8) rotate(90deg);
      display: flex;
      align-items: center;
      .waves-container {
        position: absolute;
        .wave:nth-child(1) {
          transform: translateY(140px);
          p {
            left: 44%;
            bottom: 115%;
          }
          .vertical-line {
            left: 50%;
            top: 0;
          }
        }
        .wave:nth-child(2) {
          top: -120px;
          transform: translateX(-130px);
          p {
            left: 43%;
            top: 115%;
          }
          .vertical-line {
            left: 50%;
            bottom: 0;
          }
        }
        .wave:nth-child(3) {
          transform: translate(-260px, 140px);
          p {
            left: 39%;
            bottom: 125%;
          }
          .vertical-line {
            left: 50%;
            top: 0;
          }
        }
        .wave:nth-child(4) {
          top: -120px;
          transform: translateX(-390px);
          p {
            left: 39%;
            top: 125%;
          }
          .vertical-line {
            left: 50%;
            bottom: 0;
          }
        }
        .wave:nth-child(5) {
          transform: translate(-520px, 140px);
          p {
            left: 40%;
            bottom: 122%;
          }
          .vertical-line {
            left: 50%;
            top: 0;
          }
        }
        .wave:nth-child(6) {
          top: -120px;
          transform: translateX(-650px);
          p {
            left: 41%;
            top: 118%;
          }
          .vertical-line {
            left: 50%;
            bottom: 0;
          }
        }
      }
    }
  }
  .container {
    flex-direction: column;
    &__text {
      padding: 30px 0;
    }
  }
  .section {
    flex-direction: column;
    padding: 0 10px 0;
    height: 400px;
    .image-container {
      width: 100%;
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }
    .text-container {
      width: 100%;
      padding: 16px 0;
    }
  }
  .section-vertical {
    flex-direction: column;
    padding: 0 10px 0;
    .image-container {
      width: 100%;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .text-container {
      width: 100%;
      padding: 16px 0;
    }
  }
  .inside-pages {
    .sidenav {
      display: none;
    }
    .container-carrousel {
      width: 100%;
    }
    .glide__arrows {
      display: none;
    }
  }
}

/* MOBILE */

@media screen and (max-width: 480px) {
  p {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }

  main {
    margin: 0 20px;
  }

  .main-title {
    text-align: center;
    padding: 20px 0;
  }

  .full-width {
    height: 200px;
  }

  footer {
    position: relative !important;
  }
}
