/* XL DESKTOP */
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 72px;
    // la tipografía en h1 es responsive pero a partir
    // de un ancho concreto que ya no crezca más...
  }
}

/* SMALL DESKTOP & TABLET */
@media screen and (max-width: 991px) {
  .nav-nav-link {
    float: right !important;
  }
  header {
    .navbar {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  .home {
    header {
      .navbar {
        ul {
          padding: 32px;
          width: auto;
          float: right;
          background-color: $blue-darken !important;
        }
      }
    }
    .outer-wrapper {
      margin-top: 90px !important;
      width: 100% !important;
      height: 100% !important;
      display: flex;
      align-items: flex-start !important;
      justify-content: center;
      transform: none !important;
      overflow-y: scroll !important;
      overflow-x: hidden !important;
      .slide {
        transform-origin: none !important;
        transform: none !important;
        .text-intro {
          width: 100vw;
          padding: 5% !important;
        }
      }
      .routes {
        padding-bottom: 32px;
      }
    }
    .wave-desktop{
      display: none;
    }
    .wave-responsive{
      display: inline-flex !important;
    }
  }
  .inside-pages {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    header {
      .icon,
      .original {
        display: none !important;
      }
      .logo-inside-pages {
        display: inline-flex !important;
      }
      .menu-items {
        display: none;
      }
      .btn_menu {
        display: inline-flex;
        cursor: pointer;
      }
      .navbar {
        margin: 0 !important;
        ul {
          padding: 32px;
          width: auto;
          float: right;
          background-color: $blue-darken !important;
        }
      }
    }
    .tabs {
      flex-direction: column;
      .nav-tabs,
      .tab-content {
        width: 100% !important;
        padding-right: 0 !important;
      }
      #myTab {
        margin-bottom: 8px;
      }
    }

    main {

  .floatting-element {
    .rotation-element {
      svg {
        transform: scale(0.2) !important;
        fill: currentColor;
        color: $brown;
      }
    }
  } 
 
   /*    .floatting-element {
        right: 5%;
        bottom: 5%;
      } */

      .split-screen {
        flex-direction: column !important;
        overflow-y: scroll !important;
        height: 100% !important;
        .split {
          width: 100%;
          height: 100% !important;
          img,
          video {
            width: 100vw;
            height: 100%;
          }
        }
        .left-side {
          // height: 40vh;
          .text-container {
            z-index: 50;
            width: 90%;
            margin: 30% 10% 10% 10%;
          }
          .bg-img-dark {
            position: absolute;
            z-index: 30;
            width: 100vw;
            height: 100%;
            background-color: $blue-darken;
            opacity: 0.6;
          }
          .pic {
            height: 100%;
            img {
              float: right;
              z-index: -30;
              width: auto;
              height: 100vh;
              object-fit: cover;
            }
          }
        }
        .right-side {
          display: flex;
          align-items: flex-end;
          z-index: 100;
          opacity: 1;
          height: 100% !important;
          .text-container {
            width: 80%;
            height: auto;
          }
          .translate-in-y {
            transform: translateY(20vh);
          }
          // altura para las compos simples
          .simple {
            margin-top: -20vh !important;
            width: 90%;
            //height: 70vh;
          }
          .cover {
            margin-top: 20vh !important;
            height: 80vh;
            width: 90%;
            padding-bottom: 200px !important;
          }

              
        }
      }
    }
  }
  .vertical {
    flex-direction: column;
    .left-side {
      width: 100vw !important;
      opacity: 1;
      transform: translateX(0) !important;
     
    }
    .right-side {
      width: 90vw !important;
      margin-top: -20% !important;
    }
  }
  .horizontal {
    flex-direction: column;
    .left-side {
      width: 100vw !important;
      height: auto !important;;
      opacity: 1;
      transform: translateX(0) !important;
      .pic {
        width: 100% !important;
        left: 0;
        img {
          float: left;
          z-index: -30;
          width: 100% !important;
          height: 100% !important;;
          object-fit: cover;
        }
      }
    }
    .right-side {
      width: 90vw !important;
      margin-top: -20% !important;
    }
  }

}

/* SMALL TABLET */
@media screen and (max-width: 600px) {
  .topnav {
    .menu {
      a {
        display: none;
      }
    }
    a {
      .icon {
        float: right;
        display: block;
      }
    }
    .responsive {
      position: relative;
      .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
      a {
        float: none;
        display: block;
        text-align: left;
      }
    }
  }

  #myTab {
    a {
      font-size: 15px !important;
      line-height: 1.2;
    }
  }

  h1 {
    font-size: 40px !important ;
  }

  h2 {
    font-size: 18px !important ;
  }
  .home {
    header {
      nav {
        .icon {
          display: inline-flex !important;
          position: fixed;
          width: 88px;
          top: 0;
          left: 0%;
        }
        .original {
          display: none !important;
        }

        .logo-inside-pages {
          display: none;
        }
        .menu-items {
          display: none;
        }
        .btn_menu {
          display: inline-flex;
          cursor: pointer;
        }
      }
    }
    .slide {
      position: relative;
    }
    .waves-container {
      margin-top: 40%;
      transform: scale(0.7) rotate(90deg) !important;
      p {
        transform: scale(1.4) rotate(270deg) !important;
      }
      .vertical-line {
        transform: scale(0.7);
      }
    }
  }
  .cover{
    margin-top: none !important
  }
 /*  .floatting-element {
    right: -10% !important;
    bottom: 65%;
    .rotation-element {
      svg {
        transform: scale(0.4) !important;
        fill: currentColor;
        color: $brown;
      }
    }
  } */
 
  .right-side{
    .text-container{
      padding-bottom: 100px !important ;

    }
  }
}

/* MOBILE */
@media screen and (max-width: 480px) {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 32px !important ;
    //padding-top: 17vh !important;
  }

  .main-title {
    text-align: center;
    padding: 20px 0;
  }

  .cover{
    position: relative;
  }

  /*   .routes {
    .slide{
      transform: scale(0.5) rotate(90deg) !important;
      p {
        transform: scale(1.8) rotate(270deg) !important;
      }
      .vertical-line {
        transform: scale(0.7);
      }
    }
    
  } */



  .left-side {
    .text-container {
      margin: 40% 10% 10% 10% !important;   
    }
  }
  .cover{
  margin-top: none !important
  }

  .return {
    top: 0 !important;
    left: 88px;
  }
  .pic-gallery {
    margin-top: 88px;
  }
}
