.slider {
  position: relative;
  width: inherit;
  height: inherit;
  margin-bottom: 0;
  li {
    position: absolute;
    display: none;

    &:first-child {
      .transition_right-to-left {
        animation: runRightLeft ease-in-out 2s;
      }

      .transition_left-to-right {
        .text-container,
        img {
          animation: runLeftRight ease-in-out 1.5s;
        }
      }
      .cta-location {
        animation: locationAppear ease-in-out 2.5s;
      }
    }

    &:target {
      display: block;
    }
  }
}
.buttons-slider {
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  li {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 12px;
    transition: opacity 0.5;

    a {
      color: white;
      padding: 12px 20px;
      border: solid 1px $brown;
      border-radius: 50%;
      background-color: rgba($color: #8d6331, $alpha: 0.8);
      &:hover {
        background-color: $blue;
        border: solid 1px $blue;

        color: white !important;
      }
    }
  }
}

.return {
  animation: ease 2s !important;
  z-index: 999;
  position: absolute;
  top: 88px;
  color: white;
  width: 88px;
  height: 88px;
  background-color: $brown;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: white !important;
    background-color: $blue;
  }
}
