.slider {
  position: relative;
  width: inherit;
  height: inherit;
  margin-bottom: 0;
  li {
    position: absolute;
    display: none;

    &:first-child {
      .transition_right-to-left {
        animation: runRightLeft ease-in-out 2s;
      }

      .transition_left-to-right {
        .text-container,
        img {
          animation: runLeftRight ease-in-out 1.5s;
        }
      }
      .cta-location {
        animation: runRightLeft ease-in-out 3s;

      }
    }

    &:target {
      display: block;
    }

    .vertical {
      display: flex;
      overflow-y: hidden;
      .left-side {
        opacity: 1;
        width: 60vw;
        transform: translateX(80px);
        .pic {
          height: 100%;
          img {
            float: right;
            z-index: -30;
            width: auto;
            height: 100vh;
            object-fit: cover;
          }
        }
      }
      .right-side {
        margin-top: 20vh;
        width: 40vw;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        z-index: 100;
        opacity: 1;
        float: right;
        .text-container {
          background-color: $cream;
          padding: 15%;
          // min-height: 70vh;
          h1,
          p {
            color: $blue;
            padding-bottom: 16px;
          }
        }
        .cta-location {
          z-index: 999;
          right: 0;
          cursor: pointer;
          display: inline;
          padding: 24px 40px;
          color: $cream;
          background-color: $brown;
          font-family: $font-sans-serif;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 1px;
          &:hover {
            color: $cream !important;
            text-decoration: none;
            background-color: $blue;
            transition: 0.5s;
          }
        }
      }
    }
    .horizontal {
      display: flex;
      overflow-y: hidden;
      .left-side {
        opacity: 1;
        width: 70vw;
        .pic {
          max-width: 100%;
          height: auto;
          left: 0;
          img {
            float: left;
            z-index: -30;
            width: auto;
            height: 100vh;
            object-fit: cover;
          }
        }
      }
      .right-side {
        margin-top: 20vh;
        width: 30vw;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        z-index: 100;
        opacity: 1;
        float: right;
        .text-container {
          background-color: $cream;
          padding: 15%;
          //min-height: 70vh;
          h1,
          p {
            color: $blue;
            padding-bottom: 16px;
          }
        }
        .cta-location {
          z-index: 999;
          right: 0;
          cursor: pointer;
          display: inline;
          padding: 24px 40px;
          color: $cream;
          background-color: $brown;
          font-family: $font-sans-serif;
          font-weight: 500;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 1px;
          &:hover {
            color: $cream !important;
            text-decoration: none;
            background-color: $blue;
            transition: 0.5s;
          }
        }
      }
    }

  }
}

.buttons-slider {
  width: 100vw;
  position: fixed;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin: 0 !important;
  li {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 12px;
    transition: opacity 0.5;
    a {
      font-family: $font-sans-serif;
      color: white;
      padding: 12px 20px;
      border: solid 1px $brown;
      border-radius: 50%;
      background-color: rgba($color: #8d6331, $alpha: 0.8);
      &:hover {
        background-color: $blue;
        border: solid 1px $blue;

        color: white !important;
      }
    }
  }
}

.return {
  animation: ease 2s !important;
  z-index: 999;
  position: fixed;
  top: 88px;
  color: white;
  width: 88px;
  height: 88px;
  background-color: $brown;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    color: white !important;
    background-color: $blue;
  }
}
