.tabs {
  width: 100vw;
  display: flex !important;
  align-items: flex-start;
  justify-content: space-between !important;
  padding: 0 5%;

  #myTab {
    flex-direction: column !important;
  }
  .nav,
  .nav-tabs {
    width: 40% !important;
    border: none !important;
    .nav-link {
      padding: 8px 0;
      border: none !important;
      color: $brown;
      text-transform: uppercase;
      font-family: $font-sans-serif;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 16px !important;
      &:hover {
        color: $blue;
        border-bottom: solid 1px $blue;
      }
    }
    .nav-item {
      border: none !important;
    }
    .active {
      margin: 0;
      border: none;
      color: $blue !important;
      border-bottom: solid 1px $blue !important;
      background-color: transparent !important;
    }
  }
  .tab-content {
    border-bottom: 0px solid #dee2e6;
    width: 40% !important;
    .item {
      p {
        margin: 4px 0 !important;
      }
     
      a {
        color: $brown !important;
        font-family: $font-sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        &:hover {
          color: $blue !important;
          text-decoration: none;
        }
        i {
          padding-left: 8px !important;

        }

      }
     
    }
  }

  .item {
    margin-bottom: 32px;
  }
}
