@import url("https://use.typekit.net/lyn8bgo.css");

$font-sans-serif: "futura-pt";
$font-serif: "kumlien-pro";

h1,
h2,
h3 {
  font-family: $font-serif;
  font-weight: lighter;
  color: $blue;
  line-height: 1;
}

h1 {
  font-size: 48px;
}

h2{
  font-size: 32px;
}

p,
small {
  font-family: $font-sans-serif;
  color: $blue;
  line-height: 1.4;
}
p {
  font-size: 18px;
}
.back-type {
  font-weight: lighter;
  font-size: 80px;
}
