@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

$font-sans-serif: "Poppins";
$font-serif: "Francis";

h1,
h2,
h3 {
  font-family: $font-serif;
  color: $blue;
  line-height: 1.4;
}

h2 {
  font-size: 48px;
}

p,
small {
  font-family: $font-serif;
  color: $blue;
  line-height: 1.4;
}
p {
  font-size: 16px;
}
.back-type {
  font-weight: lighter;
  font-size: 80px;
}
