@charset "UTF-8";
@import url("https://use.typekit.net/lyn8bgo.css");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: content-box;
}

h1,
h2,
h3 {
  font-family: "kumlien-pro";
  font-weight: lighter;
  color: #2a599f;
  line-height: 1;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

p {
  font-size: 18px !important;
}

p,
small {
  font-family: "futura-pt";
  color: #2a599f;
  line-height: 1.4;
}

.back-type {
  font-weight: lighter;
  font-size: 80px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #efe8e0;
}

header .logo-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
header .logo-right {
  text-align: right;
  padding: 20px;
}
header .logo-right a {
  padding: 10px;
}

.inside-pages {
  background-color: #efe8e0;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.section .text-container {
  width: 40%;
  padding-left: 40px;
}
.section .text-container p {
  padding: 5% 3%;
  font-size: 18px !important;
}
.section .image-container {
  position: relative;
}
.section .image-container img {
  width: auto;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.section .image-container .link-map {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px;
  left: -80px;
}
.section .image-container .link-map .vertical-line {
  height: 40px;
  top: 80px;
}
.section .image-container .link-map a {
  transform: rotate(270deg);
  color: #8d6331;
  font-weight: 600;
  font-family: "futura-pt";
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 0 0 8px;
}

.menu-mobile {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2a599f;
}

.title__left {
  text-align: left;
  padding: 5vh 0 24px 5vw;
  font-family: "kumlien-pro";
  color: #2a599f;
}
.title__center {
  font-family: "kumlien-pro";
  color: #2a599f;
  text-align: center;
  padding: 5vh 0 24px 0;
}

.title-slide {
  font-family: "futura-pt";
  font-size: 18px;
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 600;
}

footer {
  padding: 20px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer img {
  margin-right: 40px;
}

/* TABLET + MOBILE */
@media screen and (max-width: 768px) {
  .home main {
    top: none;
    transform: none;
  }

  .just-desktop {
    display: none;
  }

  .just-mobile {
    display: none;
  }

  .horizontal-scroll {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .horizontal-scroll .intro {
    width: 80%;
    margin-bottom: 180px;
  }
  .horizontal-scroll .intro h1 {
    padding-bottom: 16px;
  }
  .horizontal-scroll .routes {
    position: relative;
    transform: scale(0.8) rotate(90deg);
    display: flex;
    align-items: center;
  }
  .horizontal-scroll .routes .waves-container {
    position: absolute;
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(1) {
    transform: translateY(140px);
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(1) p {
    left: 44%;
    bottom: 115%;
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(1) .vertical-line {
    left: 50%;
    top: 0;
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(2) {
    top: -120px;
    transform: translateX(-130px);
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(2) p {
    left: 43%;
    top: 115%;
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(2) .vertical-line {
    left: 50%;
    bottom: 0;
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(3) {
    transform: translate(-260px, 140px);
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(3) p {
    left: 39%;
    bottom: 125%;
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(3) .vertical-line {
    left: 50%;
    top: 0;
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(4) {
    top: -120px;
    transform: translateX(-390px);
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(4) p {
    left: 39%;
    top: 125%;
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(4) .vertical-line {
    left: 50%;
    bottom: 0;
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(5) {
    transform: translate(-520px, 140px);
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(5) p {
    left: 40%;
    bottom: 122%;
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(5) .vertical-line {
    left: 50%;
    top: 0;
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(6) {
    top: -120px;
    transform: translateX(-650px);
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(6) p {
    left: 41%;
    top: 118%;
  }
  .horizontal-scroll .routes .waves-container .wave:nth-child(6) .vertical-line {
    left: 50%;
    bottom: 0;
  }

  .container {
    flex-direction: column;
  }
  .container__text {
    padding: 30px 0;
  }

  .section {
    flex-direction: column;
    padding: 0 10px 0;
    height: 400px;
  }
  .section .image-container {
    width: 100%;
  }
  .section .image-container img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section .text-container {
    width: 100%;
    padding: 16px 0;
  }

  .section-vertical {
    flex-direction: column;
    padding: 0 10px 0;
  }
  .section-vertical .image-container {
    width: 100%;
  }
  .section-vertical .image-container img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section-vertical .text-container {
    width: 100%;
    padding: 16px 0;
  }

  .menu ul {
    display: none;
  }
}
/* MOBILE */
@media screen and (max-width: 480px) {
  p {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }

  main {
    margin: 0 20px;
  }

  .main-title {
    text-align: center;
    padding: 20px 0;
  }

  .full-width {
    height: 200px;
  }
}
header {
  width: 100vw;
}
header .logo-center {
  padding: 8px 0;
}

.menu {
  width: 100%;
  list-style: none;
  display: flex;
}
.menu li {
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-top: 1px solid #8d6331;
}
.menu a {
  font-family: "futura-pt";
  font-size: 14px;
  color: #8d6331;
  line-height: 44px;
  height: 44px;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.menu a:hover {
  color: #6F3E0B;
  letter-spacing: 1px;
  transition: ease 0.5s;
  border-top: 4px solid #6F3E0B;
}
.menu .menu-selected {
  color: #6F3E0B;
  pointer-events: none;
  letter-spacing: 1px;
  border-top: 4px solid #8d6331;
}

.menu-ruta {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
}
.menu-ruta li {
  position: relative;
  display: inline;
  align-items: start;
  text-align: right;
}
.menu-ruta li .little-wave {
  position: absolute;
  display: flex;
  align-items: center;
}
.menu-ruta li a {
  transform: rotate(180deg);
  -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
  font-family: "futura-pt";
  font-size: 16px;
  line-height: 0;
  text-transform: uppercase;
}
.menu-ruta li a p {
  color: #8d6331;
  padding-bottom: 8px;
  font-size: 16px;
}
.menu-ruta li a :hover p {
  color: #6F3E0B;
}
.menu-ruta li a :hover circle {
  stroke: #6F3E0B;
}
.menu-ruta li .menu-selected p {
  color: #2a599f;
}
.menu-ruta li .menu-selected circle {
  stroke: #2a599f;
}
.menu-ruta .vinebre {
  left: 0;
  bottom: 0;
}
.menu-ruta .tortosa {
  right: -53px;
  top: -70px;
}
.menu-ruta .montserrat {
  right: -26px;
  top: -125px;
}
.menu-ruta .tarragona {
  right: 2px;
  top: -95px;
}
.menu-ruta .barcelona {
  right: 29px;
  top: -117px;
}
.menu-ruta .castellon {
  right: 56px;
  top: -84px;
}

/* HAMBURGUESA */
/* estilo */
input#abrir-cerrar {
  visibility: hidden;
  position: absolute;
  top: -9999px;
}

.toggle-button {
  display: block;
  width: 88px;
  height: 88px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  border-left: 1px solid #2a599f;
}

/* transición suave */
.toggle-button:before,
.toggle-button:after {
  position: absolute;
  display: block;
  content: " ";
  width: calc(100% / 2);
  box-sizing: border-box;
  left: calc(100% / 3.5);
  transition: all 0.2s ease-out;
}

.toggle-button:before {
  top: calc(100% / 3);
  height: calc(100% / 6);
  border-top: 2px solid #2a599f;
  border-bottom: 2px solid #2a599f;
  background-color: transparent;
}

.toggle-button:after {
  height: 2px;
  background-color: #2a599f;
  bottom: calc(100% / 3);
}

/* comportamiento del botón */
input#abrir-cerrar:checked + .toggle-button:before,
input#abrir-cerrar:checked + .toggle-button:after {
  top: calc(100% / 2);
  height: 2px;
  border-bottom: 0;
}

input#abrir-cerrar:checked + .toggle-button:before {
  transform: rotate(45deg);
}

input#abrir-cerrar:checked + .toggle-button:after {
  transform: rotate(-45deg);
}

/* posicionar, mostrar y ocultar */
.abrir,
.cerrar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-indent: -9999px;
}

.abrir {
  display: block;
}

.cerrar {
  display: none;
}

input#abrir-cerrar:checked + .toggle-button .abrir {
  display: none;
}

input#abrir-cerrar:checked + .toggle-button .cerrar {
  display: block;
}

@-webkit-keyframes transitionInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes transitionInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes transitionInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes transitionInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes transitionInTop {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes transitionInTop {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.transition__left {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: transitionInLeft;
          animation-name: transitionInLeft;
}

.transition__right {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: transitionInRight;
          animation-name: transitionInRight;
}

.transition__top {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: transitionInTop;
          animation-name: transitionInTop;
  padding-bottom: 40px;
}

.container-carrousel {
  width: 100%;
  height: 100%;
}
.container-carrousel .carrousel {
  position: relative;
  overflow: hidden;
}

.glide__arrows .glide__arrow {
  border: none;
  box-shadow: none;
}

.glide__slide img {
  transition: all ease-in-out 1s;
  background: #efe8e0;
  opacity: 0;
}
.glide__slide p {
  transition: all ease-in-out 2s;
  opacity: 0;
}

.glide__slide.glide__slide--active img {
  opacity: 1;
}
.glide__slide.glide__slide--active p {
  opacity: 1;
}

.accordion {
  z-index: -50;
  display: flex;
  align-items: center;
  font-family: "futura-pt";
  font-weight: 500;
  text-transform: uppercase;
  color: #8d6331;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
  background-color: #efe8e0;
}
.accordion .icon {
  width: 24px;
  height: auto;
  margin-left: 8px;
}
.accordion img {
  width: 40px;
  height: auto;
}
.accordion .static {
  position: absolute;
  background-color: #efe8e0;
}
.accordion :hover .static {
  opacity: 0;
}

.panel {
  display: none;
  overflow: hidden;
}
.panel p {
  padding: 0 0 0 40px;
  font-family: "kumlien-pro";
  font-weight: 600;
  color: #6F3E0B;
  font-size: 16px;
  transition: 0.4s;
}

.home {
  background-color: #001B31;
}
.home header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
}
.home header ul {
  display: flex;
  flex-direction: row;
  font-family: "futura-pt";
  font-size: 16px;
  text-transform: uppercase;
}
.home header ul li {
  padding: 0 0 0 32px;
}
.home header ul li a {
  color: #8d6331;
  letter-spacing: 1px;
}
.home header img {
  padding: 0 0 0 24px;
}
.home p,
.home h1 {
  color: #efe8e0;
}
.home main {
  top: 50%;
  transform: translateY(50%);
}

.horizontal-scroll {
  display: flex;
  align-items: center;
}
.horizontal-scroll .intro {
  top: 50%;
  transform: translateY(50%);
  padding: 0 5%;
  min-width: 30%;
}
.horizontal-scroll .intro h1 {
  padding-bottom: 16px;
}
.horizontal-scroll .waves-container {
  display: flex;
}
.horizontal-scroll .waves-container .wave {
  position: relative;
}
.horizontal-scroll .waves-container .wave img {
  opacity: 0.5;
  position: relative;
  z-index: -10;
  filter: grayscale(100%);
}
.horizontal-scroll .waves-container .wave p {
  position: absolute;
  z-index: 10;
  transform: rotate(270deg);
  font-family: "futura-pt";
  color: #8d6331;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.horizontal-scroll .waves-container .wave:hover p {
  color: white;
  transition: 1s;
}
.horizontal-scroll .waves-container .wave:hover img {
  filter: none;
  transition: 1s;
  opacity: 1;
}
.horizontal-scroll .waves-container .wave:hover .vertical-line {
  border-left: 1px solid white;
  transition: 1s;
}
.horizontal-scroll .waves-container .wave:nth-child(1) {
  transform: translateY(260px);
}
.horizontal-scroll .waves-container .wave:nth-child(1) p {
  left: 44%;
  bottom: 115%;
  text-align: left;
}
.horizontal-scroll .waves-container .wave:nth-child(1) .vertical-line {
  left: 50%;
  top: 0;
}
.horizontal-scroll .waves-container .wave:nth-child(2) {
  top: 0;
  transform: translateX(-130px);
}
.horizontal-scroll .waves-container .wave:nth-child(2) p {
  left: 43%;
  top: 115%;
  text-align: left;
}
.horizontal-scroll .waves-container .wave:nth-child(2) .vertical-line {
  left: 50%;
  bottom: 0;
}
.horizontal-scroll .waves-container .wave:nth-child(3) {
  transform: translate(-260px, 260px);
}
.horizontal-scroll .waves-container .wave:nth-child(3) p {
  left: 39%;
  bottom: 125%;
  text-align: left;
}
.horizontal-scroll .waves-container .wave:nth-child(3) .vertical-line {
  left: 50%;
  top: 0;
}
.horizontal-scroll .waves-container .wave:nth-child(4) {
  top: 0;
  transform: translateX(-390px);
}
.horizontal-scroll .waves-container .wave:nth-child(4) p {
  left: 40%;
  top: 120%;
  text-align: left;
}
.horizontal-scroll .waves-container .wave:nth-child(4) .vertical-line {
  left: 50%;
  bottom: 0;
}
.horizontal-scroll .waves-container .wave:nth-child(5) {
  transform: translate(-520px, 260px);
}
.horizontal-scroll .waves-container .wave:nth-child(5) p {
  left: 39%;
  bottom: 125%;
  text-align: left;
}
.horizontal-scroll .waves-container .wave:nth-child(5) .vertical-line {
  left: 50%;
  top: 0;
}
.horizontal-scroll .waves-container .wave:nth-child(6) {
  top: 0;
  transform: translateX(-650px);
}
.horizontal-scroll .waves-container .wave:nth-child(6) p {
  left: 40%;
  top: 120%;
  text-align: left;
}
.horizontal-scroll .waves-container .wave:nth-child(6) .vertical-line {
  left: 50%;
  bottom: 0;
}

.vertical-line {
  z-index: 30;
  position: absolute;
  border-left: 1px solid #8d6331;
  height: 200px;
}/*# sourceMappingURL=style.css.map */