@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: content-box;
}

html {
  background-color: #efe8e0;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
}

.logo {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #2a599f;
}

.menu-mobile {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2a599f;
}

.main-title {
  text-align: center;
  padding: 40px 0 32px 0;
}

.container {
  margin: 0 80px 100px 80px;
  display: flex;
}
.container__image {
  flex: 50%;
}
.container__image img {
  max-height: 487px;
  width: 100%;
}
.container__text {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}

.text-full-width {
  width: 100%;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-content: center;
}
.text-full-width p {
  text-align: center;
  width: 60%;
}

.full-width {
  background-image: url("../images/1_vinebre/5.Vinebre 2021.jpg");
  width: 100vw;
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.align .section__left {
  margin: 0 80px 0 0;
}
.section__center {
  margin: 0 80px;
}
.section .image-container {
  width: 60%;
}
.section .image-container img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section .text-container {
  width: 40%;
  padding: 0 40px;
}

h1,
h2,
h3 {
  font-family: "Poppins";
  color: #2a599f;
  line-height: 1.4;
}

h2 {
  font-size: 48px;
}

p,
small {
  font-family: "Lora";
  color: #2a599f;
  line-height: 1.4;
}

p {
  font-size: 16px;
}

.back-type {
  font-weight: lighter;
  font-size: 80px;
}

/* TABLET + MOBILE */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .container__text {
    padding: 30px 0;
  }

  .section {
    flex-direction: column;
    padding: 0 10px 0;
    height: 400px;
  }
  .section .image-container {
    width: 100%;
  }
  .section .image-container img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section .text-container {
    width: 100%;
    padding: 16px 0;
  }

  .menu ul {
    display: none;
  }
}
/* MOBILE */
@media screen and (max-width: 480px) {
  p {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }

  main {
    margin: 0 20px;
  }

  .main-title {
    text-align: center;
    padding: 20px 0;
  }

  .full-width {
    height: 200px;
  }
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}
header {
  width: 100vw;
}

.menu {
  width: 100%;
  list-style: none;
  display: flex;
}
.menu li {
  cursor: pointer;
  width: 100%;
  height: 44px;
  text-align: center;
  border-bottom: 1px solid #2a599f;
  border-right: 1px solid #2a599f;
}
.menu button {
  font-family: "Poppins";
  font-size: 14px;
  color: #2a599f;
  line-height: 44px;
  height: 44px;
  width: 100%;
  background-color: #efe8e0;
  cursor: pointer;
  text-transform: uppercase;
}
.menu button:hover {
  color: #efe8e0;
  background-color: #274f8c;
  letter-spacing: 1px;
  transition: ease 1s;
}

.menu-selected button {
  color: #efe8e0;
  background-color: #2a599f;
}

/* HAMBURGUESA */
/* estilo */
input#abrir-cerrar {
  visibility: hidden;
  position: absolute;
  top: -9999px;
}

.toggle-button {
  display: block;
  width: 88px;
  height: 88px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  border-left: 1px solid #2a599f;
}

/* transición suave */
.toggle-button:before,
.toggle-button:after {
  position: absolute;
  display: block;
  content: " ";
  width: calc(100% / 2);
  box-sizing: border-box;
  left: calc(100% / 3.5);
  transition: all 0.2s ease-out;
}

.toggle-button:before {
  top: calc(100% / 3);
  height: calc(100% / 6);
  border-top: 2px solid #2a599f;
  border-bottom: 2px solid #2a599f;
  background-color: transparent;
}

.toggle-button:after {
  height: 2px;
  background-color: #2a599f;
  bottom: calc(100% / 3);
}

/* comportamiento del botón */
input#abrir-cerrar:checked + .toggle-button:before,
input#abrir-cerrar:checked + .toggle-button:after {
  top: calc(100% / 2);
  height: 2px;
  border-bottom: 0;
}

input#abrir-cerrar:checked + .toggle-button:before {
  transform: rotate(45deg);
}

input#abrir-cerrar:checked + .toggle-button:after {
  transform: rotate(-45deg);
}

/* posicionar, mostrar y ocultar */
.abrir,
.cerrar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-indent: -9999px;
}

.abrir {
  display: block;
}

.cerrar {
  display: none;
}

input#abrir-cerrar:checked + .toggle-button .abrir {
  display: none;
}

input#abrir-cerrar:checked + .toggle-button .cerrar {
  display: block;
}

.container-carrousel {
  width: 100%;
  height: 100%;
}
.container-carrousel .carrousel {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.container-carrousel .slider {
  height: 100%;
  display: flex;
  width: 400%;
  transition: all 1s;
}
.container-carrousel .slider section {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-carrousel .controls {
  position: sticky;
  bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.container-carrousel .controls .arrow {
  cursor: pointer;
  padding: 0 32px;
}
.container-carrousel .controls ul {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  list-style: none;
  display: flex;
}
.container-carrousel .controls ul li {
  width: 16px;
  height: 16px;
  padding: 4px;
  margin: 8px;
  border: 2px solid #2a599f;
  border-radius: 50%;
  background: #2a599f;
  cursor: pointer;
}
.container-carrousel .controls ul .selected {
  background: transparent;
}

@-webkit-keyframes transitionInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes transitionInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes transitionInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes transitionInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes transitionInTop {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes transitionInTop {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.image-container {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: transitionInLeft;
          animation-name: transitionInLeft;
}

.text-container {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: transitionInRight;
          animation-name: transitionInRight;
}

.back {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: transitionInTop;
          animation-name: transitionInTop;
  padding-bottom: 40px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */